body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #000;
}

p {
    line-height: 25px;
    font-weight: 400;
}

h1 {
    margin: 50px auto;
    max-width: 650px;
    position: relative;
}

@media (max-width: 768px) {
    h1 {
        max-width: 400px;
    }
}