RewriteEngine on

#stop processing if in one of these dirs
RewriteRule ^css/ - [L]
RewriteRule ^immagini/ - [L]
RewriteRule ^javascript/ - [L]

RewriteRule (.*) index.php?route=$1 [L,QSA]
# Tutte le richieste (GET, POST...) vengono reinderizzate a index.php, che contiene routes.php
# [L] sta per Last, cioè è la regola che viene eseguita per ultima





