RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
# Tutte le richieste (GET, POST...) vengono reinderizzate a index, che contiene routes
