RewriteEngine on
# se il file richiesto esiste oppure no
# RewriteCond %{REQUEST_FILENAME} -f [OR] 
RewriteCond %{REQUEST_FILENAME} !-f 
#
# se la directory richiesta esiste oppure no
RewriteCond %{REQUEST_FILENAME}  -d [OR]
RewriteCond %{REQUEST_FILENAME} !-d 
#)
RewriteCond %{REQUEST_FILENAME} !\.(css|png|jpg|gif)
# then
RewriteRule ^((?!index\.php).+)$ index.php [L]
# Tutte le richieste (GET, POST...) vengono reinderizzate a index.php, che contiene routes.php
# [L] sta per Last, cioè è la regola che viene eseguita per ultima



