$white: #fff;
$black: #000;
$red: rgb(255, 0, 0);
$green: rgb(0, 255, 0);
// $blue: rgb(0, 0, 255);
$text-color: #000;
$blue: #0071e3;
// black
.black {
    color: $black;
    * {
        @extend .black;
    }
}

.bg-black {
    background-color: $black
}

// white
.white {
    color: $white;
    * {
        @extend .white;
    }
}

.bg-white {
    background-color: $white
}

// red
.red {
    color: $red;
    * {
        @extend .red;
    }
}

.bg-red {
    background-color: $red;
}

// green
.green {
    color: $green;
    * {
        @extend .green;
    }
}

.bg-green {
    background-color: $green
}

// blue
.blue {
    color: $blue;
    * {
        @extend .blue;
    }
}

.bg-blue {
    background-color: $blue
}