@use 'colors' as *;
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: $text-color;
}

p {
    line-height: 25px;
    font-weight: 400;
}

h1 {
    margin: 50px auto;
    max-width: 650px;
    position: relative;
}

@media (max-width: 768px) {
    h1 {
        max-width: 400px;
    }
}

.white span {
    background: #fff;
}

h1::before {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #0071e3;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -2;
}

h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background: #0071e3;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

@media (max-width: 768px) {
    h1:before {
        width: 60px;
    }
    h1:after {
        width: 60px;
    }
}

@media (max-width: 425px) {
    h1:before {
        width: 40px;
    }
    h1:after {
        width: 40px;
    }
    h1 {
        max-width: 340px;
    }
}