.container_argomenti {
    position: relative;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // width: 100%;
}

.argomenticard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    filter: grayscale(100%);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 250px;
    width: 20%;
}

.argomenticard:hover {
    filter: grayscale(0%);
}